* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; }

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: normal;
}

a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.logo-container {
  text-align: center;
  margin: 60px auto 0;
  width: 80%;
  padding: 50px 0;
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
}

.logo-container h1 {
  padding: 10px 0 20px;
  font-size: 68px;
  font-weight: 300;
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 60s infinite linear;
}

.logo-container h3 {
  color: #686868;
}

p {
  margin: 20px 0;
  font-style: italic;
  text-align: center;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
